@forward 'components/theme';
@forward 'components/background';
@forward 'components/buttons';
@forward 'components/carousel';
@forward 'components/section-title';
@forward 'components/offccanvas';
@forward 'components/breadcrumb';
@forward 'components/animation';
@forward 'components/preloader';
@forward 'layout/header';
@forward 'layout/banner';
@forward 'layout/step';
@forward 'layout/about';
@forward 'layout/product';
@forward 'layout/choose';
@forward 'layout/counter';
@forward 'layout/news';
@forward 'layout/features';
@forward 'layout/trending';
@forward 'layout/category';
@forward 'layout/subcribe';
@forward 'layout/brand';
@forward 'layout/page-title';
@forward 'layout/testimonial';
@forward 'layout/team';
@forward 'layout/error';
@forward 'layout/contact';
@forward 'layout/map';
@forward 'layout/shop';
@forward 'layout/gallery';
@forward 'layout/product-details';
@forward 'layout/accordion';
@forward 'layout/login';
@forward 'layout/footer';
@forward 'layout/meanmenu';
@forward 'layout/mobile-menu';

