$colors: (
    common: (
        white: #ffffff,
        black: #000,
        placeholder: #a0a0a0,
        placeholder-2: #B2B2B2,
        heading: #1C1D1B,
        body-text:#777777,
    ),
    theme: (
        1: #699C47,
        2: #F8A231,
        3: #EEAA36,
        4: #E66D6D,
        5: #AF6C1F,
    ),
    text: (
        1:#EBEBEB, 
        2:#6AAA2B,
        3:#707070,
        4:#80B500,
        5:#699C47,
        6:#9B9B9B,
        7:#9F9F9F,
        8:#777777,
    ),
    bg: (
        grey:#f8f8f8,
        grey-2:#F7F5F2,
        grey-3:#F6F4F0,
        grey-4:#D6D6D6,

    ),
    border: (
        1: #E5DDD9,
        2: #E2E2E2,
        3: #E5DDD9,
        4: #F2F2F2,
        5: #78A55A,
        6: #9B9B9B,
        7: #D4D4D4,
        8: #efefef,
        9: #9b9b9b,
        10: #AEAEAE,
        11: #8AB46E,
        12: #EAEBEE,
        13: #DBDBDB,
        14: #CCCCCC,
        15: #DCDCDC,
        16: #E3E3E3,
        17: #edeef2,
        18: #efefef,
        19: #ECECEC,
    ),
    footer: (
        1: #E5DDD9,
        2: #E5DDD9,
        3: #E5DDD9,
    )
);
